<style>

</style>

<main class="main">

  <div style="display: flex; flex-direction: column; height: 100vh; background-color: red;">
    <nav>
      <h1>Employee Directory</h1>
      <div>user</div>

    </nav>

    <div style="display: flex; flex: 1;">
      <!-- <Menu model={items} /> -->
      <div style="background-color: #2E2D4D; color: white;">Left bar</div>

      <div style="display: flex; flex-direction: column;">

        @for (employee of employees; track employee) {
        <div>{{employee.name}}</div>
        }
      </div>
    </div>
  </div>
</main>


<router-outlet></router-outlet>