<style>

</style>

<main class="main">


  <Head>
    <title>Employee Directory</title>
    <link rel="icon" href="/favicon.ico" />
  </Head>

  <main style="display: flex; flex-direction: column; height: 100vh;">
    <nav>
      <h1>Employee Directory</h1>
      <div>user</div>

    </nav>

    <div style="display: flex; flex: 1;">
      <!-- <Menu model={items} /> -->

      <div style="
            padding: 12px 20px;
            width: 100%;
          ">
        <!-- <Directory /> -->
      </div>
    </div>
  </main>
</main>


<router-outlet></router-outlet>